@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
  font-family: "Russo One", sans-serif;
  width: 500px;
  height: 100px;
}
svg text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #ffb529;
  font-size: 60px;
}
@keyframes stroke {
  0% {
    fill: rgba(255, 255, 255, 0);
    stroke: rgba(255, 181, 41, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(255, 255, 255, 0);
    stroke: rgba(255, 181, 41, 1);
  }
  80% {
    fill: rgba(255, 255, 255, 0);
    stroke: rgba(255, 181, 41, 1);
    stroke-width: 3;
  }
  100% {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(255, 181, 41, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.wrapper {
  background-color: transparent;
  /* position: absolute; */
  cursor: pointer;
}
